<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>122331900956-l48b73ift7hsv4qhf9pshkun5sh6r8it.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.122331900956-l48b73ift7hsv4qhf9pshkun5sh6r8it</string>
	<key>API_KEY</key>
	<string>AIzaSyD-ifPhZEYud6lE0DXRSSNFPWpEZAgZ8os</string>
	<key>GCM_SENDER_ID</key>
	<string>122331900956</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterBsl</string>
	<key>PROJECT_ID</key>
	<string>flutterbsl</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterbsl.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:122331900956:ios:3cf9b3c12a6520804fc3d9</string>
</dict>
</plist>